:root {
  --mcdonalds-red: #da291c;
  --mcdonalds-yellow: #fdae0e;
  --mcdonalds-yellow-light: #fee2aa;
  --mcdonalds-yellow-lighter: #fff6e4;
  --mcdonalds-black: #27251f;
  --govuk-highlight-yellow: #fd0;
  --govuk-button-green: #00703c;
  --govuk-button-green-dark: #005a30;
  --govuk-button-green-darker: #002d18;
}

/* Background is Retro Wagon from: https://cssgradient.io/swatches/ */
body { background: linear-gradient(90deg, #fdbb2d 0%, #22c1c4 100%); }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  min-height: 100%;
  position: relative;
}

header { padding: 1em; }

header,
footer {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  padding-bottom: 10em; /* Height of the footer */
}

/* Bottom footer approach from: https://matthewjamestaylor.com/bottom-footer */
footer {
  background-color: var(--mcdonalds-black);
  bottom: 0;
  color: white;
  height: 8em; /* Height of the footer */
  padding-bottom: 1em;
  padding-top: 1em;
  position: absolute;
  width: 100%;
}

h1,
div,
fieldset,
table,
p {
  font-family: Arial, sans-serif;
}

h1,
table,
p { max-width: 900px; }

footer p {
  padding-left: 1em;
  padding-right: 1em;
}

a {
  color: var(--mcdonalds-red);
  font-weight: bold;
}

h1 {
  color: var(--mcdonalds-yellow);
  font-size: 38px;
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
  text-shadow: 3px 3px 0 var(--mcdonalds-black);
}

table {
  border-collapse: seperate;
  border-spacing: 0;

  /* offset-x | offset-y | blur-radius | color */
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 16%),
    0 3px 6px rgba(0, 0, 0, 23%);
  margin-bottom: 1em;
}

th {
  background-color: var(--mcdonalds-red);
  border: solid 3px var(--mcdonalds-black);
  border-right: solid 1px var(--mcdonalds-black);
  color: var(--mcdonalds-yellow);
  padding: 4px;
  position: sticky;
  text-align: left;
  text-shadow: 1.5px 1.5px 0 var(--mcdonalds-black);
  top: 0;
  user-select: none;
}

th:last-child { border: solid 3px var(--mcdonalds-black); }

td {
  border-bottom: dashed 1px var(--mcdonalds-black);
  color: var(--mcdonalds-black);
  padding: 8px;
  padding-left: 4px;
  padding-right: 4px;
  white-space: pre-wrap;
}

td:first-child { border-left: solid 3px var(--mcdonalds-black); }
td:last-child { border-right: solid 3px var(--mcdonalds-black); }

td.prepend-gbp::before,
td.append-kcal::after,
td.append-kj::after,
td.append-grams::after {
  color: var(--mcdonalds-red);
}
td.prepend-gbp::before { content: "£"; }
td.append-kcal::after { content: " kcal"; }
td.append-kj::after { content: " kj"; }
td.append-grams::after { content: " g"; }

td a {
  cursor: pointer;
  font-weight: normal;
  text-decoration: underline;
}

tr:last-child td { border-bottom: solid 3px var(--mcdonalds-black); }

tr:nth-child(even) { background-color: white; }
tr:nth-child(odd) { background-color: var(--mcdonalds-yellow-lighter); }

tr:hover { background-color: var(--mcdonalds-yellow-light); }

#all-nutrition-table th { font-size: 12px; }

#all-nutrition-table th,
#all-nutrition-table td,
#restaurant-table th,
#restaurant-table td {
  text-align: center;
}

#nutrition-price-table th:nth-child(3),
#nutrition-price-table th:nth-child(4),
#nutrition-price-table th:nth-child(5),
#nutrition-price-table td:nth-child(3),
#nutrition-price-table td:nth-child(4),
#nutrition-price-table td:nth-child(5) {
  text-align: center;
  white-space: nowrap;
}

#price-difference-table th:nth-child(1),
#price-difference-table th:nth-child(3),
#price-difference-table th:nth-child(5),
#price-difference-table td:nth-child(1),
#price-difference-table td:nth-child(2),
#price-difference-table td:nth-child(3),
#price-difference-table td:nth-child(5) {
  text-align: center;
}

ul { padding-inline-start: 16px; }

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25em;
  user-select: none;
}

fieldset {
  background-color: #fff;
  border: none;
  margin-bottom: 0.25em;
}

input,
select {
  border: 2px solid var(--mcdonalds-black);
  font-size: 16px;
  margin-bottom: 0.25em;
  padding: 5px;
}
input { width: 285px; }

#find-closest {
  cursor: pointer;
  display: block;
  font-weight: normal;
  user-select: none;
}
#find-closest span { text-decoration: underline; }

#find-closest::before {
  content: "📍";
  padding-right: 4px;
  text-decoration: none;
}
#restaurant-address { margin: 0; }

select {
  background-color: white;
  width: 300px;
}

input:focus,
select:focus {
  box-shadow: inset 0 0 0 2px;
  outline: 3px solid var(--govuk-highlight-yellow);
  outline-offset: 0;
}

button {
  background-color: var(--govuk-button-green);
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 0 var(--govuk-button-green-darker);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-top: 0;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: top;
  width: 100%;
}

button:active {
  background: var(--govuk-button-green-darker);
  box-shadow: none;
  color: white;
  top: 4px;
}

button:hover:not([disabled]) {
  background-color: var(--govuk-button-green-dark);
  color: white;
  text-decoration: none;
}
button[disabled] { opacity: 0.5; }

@media (width <= 900px) {
  table {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (width <= 750px) {
  h1 { font-size: 36px; }
  #price-difference-table { font-size: 12px; }
  #price-difference-table th { white-space: normal; }

  #all-nutrition-table th {
    font-size: 11px;
    padding: 3px;
  }

  #all-nutrition-table td {
    font-size: 13px;
    padding: 3px;
  }
}

@media (width <= 600px) {
  #restaurant-table th { font-size: 13px; }
  #all-nutrition-table th { font-size: 9px; }
  #all-nutrition-table td { font-size: 11px; }
}

@media (width <= 500px) {
  main { padding-bottom: 12em; }
  footer { height: 10em; }

  h1 {
    font-size: 28px;
    text-shadow: 2px 2px 0 var(--mcdonalds-black);
  }
  button { font-size: 15px; }
  th { text-shadow: 1px 1px 0 var(--mcdonalds-black); }

  table { font-size: 12px; }
  #price-difference-table th { padding: 2px; }
  #price-difference-table td { padding: 0; }
  #price-difference-table { font-size: 11px; }
  #restaurant-table th { font-size: 10px; }

  #all-nutrition-table th {
    font-size: 8px;
    padding: 2px;
  }

  #all-nutrition-table td {
    font-size: 10px;
    padding: 2px;
  }
}

@media (width <= 450px) {
  #all-nutrition-table th { padding: 1px; }
  #all-nutrition-table td { padding: 1px; }
}

@media (width <= 400px) {
  #price-difference-table { font-size: 10px; }
  #all-nutrition-table th { font-size: 7px; }
  #all-nutrition-table td { font-size: 9px; }
}
