.tabs {
  margin: 0;
  padding: 0;
  position: relative;
}

.tabs,
.tabs-content {
  max-width: 450px;
}

.tab {
  background-color: #ccc;
  color: black;
  display: inline-block;
  margin-right: 4px;
  padding: 8px 10px 7px;
  user-select: none;
}

@media (width <= 380px) {
  .tab { font-size: 15px; }
}

@media (width <= 350px) {
  .tab { font-size: 14px; }
}

@media (width <= 335px) {
  .tab { font-size: 13px; }
}

.tabs .tab,
.tabs-content {
  /* offset-x | offset-y | blur-radius | color */
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 16%),
    0 3px 6px rgba(0, 0, 0, 23%);
}

.tab:not(.active-tab) {
  box-shadow: none;
  cursor: pointer;
}
.tab:first-child { margin-left: 1em; }

.tab:not(.active-tab):hover {
  background-color: #555;
  color: white;
}

.active-tab {
  background-color: var(--mcdonalds-black);
  color: white;
  position: relative;
  z-index: -1;
}

.tabs-content {
  background-color: #eee;
  list-style: none;
  margin: 0;
  padding: 1em;
}
