<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>McDonald's Menu Scraper</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Set French Fries emoji as favicon using inline SVG -->
  <!-- Platform variations viewable here: https://emojipedia.org/french-fries/ -->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍟</text></svg>">
</head>

<body>
  <div id="container">
    <header>
      <div>
        <h1>McDonald's Menu Scraper</h1>

        <div class="tabs">
          <div id="nutrition-per-gbp-view-tab" class="tab active-tab">
            Nutrition Per £ View
          </div>
          <div id="other-menu-views-tab" class="tab">
            Other Menu Views
          </div>
        </div>

        <div class="tabs-content">
          <div id="nutrition-per-gbp-view-tab-content" class="tab-content" style="display:block;">
            <fieldset>
              <label for="restaurant-choice">
                Select restaurant £ data to show:
              </label>
              <input
                id="restaurant-choice"
                list="restaurant-names"
                placeholder="Type to 🔍 and click to select"
              />
              <datalist id="restaurant-names">
                <% restaurantNameOptions.forEach((restaurantName) => { %>
                <option value="<%= restaurantName %>"></option>
                <% }); %>
              </datalist>
              <a id="find-closest">
                <span>Click to find closest</span>
              </a>
              <p id="restaurant-address"></p>
            </fieldset>

            <fieldset>
              <label for="nutrition-choice">
                Select nutrition data to show:
              </label>
              <select id="nutrition-choice" disabled>
                <option value="kcal">kcal</option>
                <option value="kj">kJ</option>
                <option value="fat">Fat</option>
                <option value="saturatedFat">Saturated Fat</option>
                <option value="carbohydrate">Carbohydrate</option>
                <option value="sugar">Sugar</option>
                <option value="fibre">Fibre</option>
                <option value="protein">Protein</option>
                <option value="salt">Salt</option>
              </select>
            </fieldset>
          </div>

          <div id="other-menu-views-tab-content" class="tab-content" style="display:none;">
            <button id="price-difference-table-button">
              Show menu item price differences between restaurants
            </button>
            <button id="restaurant-table-button">
              Show all <%= restaurantCount %> restaurant's Just Eat page, total menu item availability and average menu item price
            </button>
            <button id="all-nutrition-table-button">
              Show all nutrition data for all <%= menuItemCount %> menu items and each item's total restaurant availability
            </button>
          </div>
        </div>
      </div>
    </header>

    <main>
      <table id="nutrition-price-table" style="display:none;">
        <thead></thead>
        <tbody></tbody>
      </table>

      <table id="price-difference-table" style="display:none;">
        <thead>
          <tr>
            <th>Item Name</th>
            <th data-sort-method="number" data-sort-default="true">Difference</th>
            <th data-sort-method="number">Lowest £</th>
            <th>Restaurants</th>
            <th data-sort-method="number">Highest £</th>
            <th>Restaurants</th>
          </tr>
        </thead>
        <tbody>
        <% Object.keys(priceDifferenceTableData).forEach((itemName) => { %>
          <% const itemData = priceDifferenceTableData[itemName]; %>
          <% const { lowestRestaurants, highestRestaurants } = itemData; %>
          <tr>
            <td><%= itemName %></td>
            <td class="prepend-gbp"><%= itemData.difference %></td>
            <td class="prepend-gbp"><%= itemData.lowestPrice %></td>
            <td>
              <ul>
            <% let commaSplit = lowestRestaurants.split(', '); %>
            <% let commaCount = commaSplit.length; %>
            <% if (commaCount > 3) { %>
              <% commaSplit.slice(0, 3).forEach((restaurantName) => { %>
                <li><%= restaurantName %></li>
              <% }); %>
                <li>…</li>
                <a data-full-value="<%= lowestRestaurants %>">
                  Click to show <%= commaCount - 3 %> more
                </a>
            <% } else { %>
              <% commaSplit.forEach((restaurantName) => { %>
                <li><%= restaurantName %></li>
              <% }); %>
            <% } %>
              </ul>
            </td>
            <td class="prepend-gbp"><%= itemData.highestPrice %></td>
            <td>
              <ul>
            <% commaSplit = highestRestaurants.split(', '); %>
            <% commaCount = commaSplit.length; %>
            <% if (commaCount > 3) { %>
              <% commaSplit.slice(0, 3).forEach((restaurantName) => { %>
                <li><%= restaurantName %></li>
              <% }); %>
                <li>…</li>
                <a data-full-value="<%= highestRestaurants %>">
                  Click to show <%= commaCount - 3 %> more
                </a>
            <% } else { %>
              <% commaSplit.forEach((restaurantName) => { %>
                <li><%= restaurantName %></li>
              <% }); %>
            <% } %>
              </ul>
            </td>
          </tr>
        <% }); %>
        </tbody>
      </table>

      <table id="restaurant-table" style="display:none;">
        <thead>
          <tr>
            <th>Restaurant Name</th>
            <th data-sort-method="none" class="no-sort">JE page</th>
            <th data-sort-method="number">Menu Items</th>
            <th data-sort-method="number" data-sort-default="true">Avg Item Price</th>
            <th data-sort-method="number">Avg Rating</th>
            <th data-sort-method="number">Reviews</th>
          </tr>
        </thead>
        <tbody>
        <% restaurantTableData.forEach((restaurant) => { %>
          <% const { itemAvailability, itemAveragePrice } = restaurant; %>
          <% const itemCountAvailable = itemAvailability.split('/')[0]; %>
          <tr>
            <td><%= restaurant.name %></td>
            <td>
              <a href="<%= restaurant.url %>" target="_blank">Link</a>
            </td>
            <td data-sort="<%= itemCountAvailable %>"><%= itemAvailability %></td>
            <td class="prepend-gbp"><%= itemAveragePrice %></td>
            <td><%= restaurant.ratingsAverage %></td>
            <td><%= restaurant.ratingsCount %></td>
          </tr>
        <% }); %>
        </tbody>
      </table>

      <table id="all-nutrition-table" style="display:none;">
        <thead>
          <tr>
            <th data-sort-default="true">Item Name</th>
            <th>kCal</th>
            <th data-sort-method="number">kJ</th>
            <th data-sort-method="number">Fat</th>
            <th data-sort-method="number">Sat Fat</th>
            <th data-sort-method="number">Carb</th>
            <th data-sort-method="number">Sugar</th>
            <th data-sort-method="number">Fibre</th>
            <th data-sort-method="number">Protein</th>
            <th data-sort-method="number">Salt</th>
            <th data-sort-method="number">R Availability</th>
          </tr>
        </thead>
        <tbody>
        <% allNutritionTableData.forEach((restaurant) => { %>
          <% const { availability } = restaurant; %>
          <% const availabilityCount = availability.split('/')[0]; %>
          <tr>
            <td><%= restaurant.itemName %></td>
            <td class="append-kcal"><%= restaurant.kcal %></td>
            <td class="append-kj"><%= restaurant.kj %></td>
            <td class="append-grams"><%= restaurant.fat %></td>
            <td class="append-grams"><%= restaurant.saturatedFat %></td>
            <td class="append-grams"><%= restaurant.carbohydrate %></td>
            <td class="append-grams"><%= restaurant.sugar %></td>
            <td class="append-grams"><%= restaurant.fibre %></td>
            <td class="append-grams"><%= restaurant.protein %></td>
            <td class="append-grams"><%= restaurant.salt %></td>
            <td data-sort="<%= availabilityCount %>"><%= availability %></td>
          </tr>
        <% }); %>
        </tbody>
      </table>
    </main>

    <footer>
      <div>
        <p>
          Data sourced via web scraping using <a href="https://nodejs.org/en/">Node.js</a> and <a href="https://pptr.dev/">Puppeteer</a> from websites
          <a href="https://www.just-eat.co.uk/area/se1-southwark?q=mcdonalds">Just Eat</a> and
          <a href="https://www.mcdonalds.com/gb/en-gb/good-to-know/nutrition-calculator.html">McDonald's Nutritional Calculator</a>.
        </p>
        <p>
          This website's HTML was built using <a href="https://gitlab.com/haayden/mcdonalds-menu-scraper">this git repository</a>, on <%= buildTimestampIso8601String %>.
        </p>
        <p>
          Made by <a href="https://gitlab.com/haayden">Hayden</a>.
        </p>
      </div>
    </footer>
  </div>
</body>
</html>
